img{
    max-width: 100%;
}
.header{}
.header img{
    width: 50px;
    float: left;
    margin-right: 10px;
    padding-top: 10px;
}
.header h3{
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
}
.header ul{
    text-align: center;
}
.header ul li{
    display: inline-block;
    margin-top: 10px;
    position: relative;
}
.header ul li ul{
position: absolute;
left: 0;
top: 100%;
width: 300px;
visibility: hidden;
opacity: 0;
transition: 0.6s;
background:white ;
transform: scaleY(0);

}
.header ul li:hover ul{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);

}
.header ul li ul li{
    display: block;
}
.header ul li ul li a{
    display: block;
    margin-right: 60px;
}





.header ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 0 20px;
    line-height: 50px;
}
.header .btn{
    margin-top: 15px;
    background:white;
    padding: 10px 15px;
}
.header .btn:hover{
    background:blue;

}
/* slider*/
.silder{
    background: url(./mbr-10.jpg) center center no-repeat;
    padding: 200px 0;
}
.slider-content .form-control{
    padding: 10px 15px;
    box-shadow: 4px 4px 30px 0 rgba(41, 128, 185,1);
}
.slider-content .btn{
    font-size: 20px;
    display: block;
    padding: 10px 15px;
}
.slider-content .btn:hover{
background: rgb(0, 255, 76);
box-shadow: 4px 4px 30px 0 rgba(41, 128, 185,1);

}
/* about css*/
.about-section{
    background: #f7f7f7;
}
.text-left p{
    line-height: 2.8rem;
}
.img-right img{
    width: 300px;
    text-align: left;
}
/*team css*/
.team-content{
    height: 300px;
    box-shadow: 4px 4px 30px 0 rgba(41, 128, 185,.50);

}
.left-img{
    width: 40%;
    overflow: hidden;
}
.left-img img{
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -90px;
    top: 0;
}
.left-img .extra-class{
    width: 130px;
   
}
.choto{
    font-size: 18px !important;
}
.right-text{
    width: 60%;
    padding: 10px;
}
.right-text h4{
    font-size: 20px;
}
.right-text h5{
    font-size: 15px;
    line-height: 30px;
}

/* testomonial */
.team-photo a{
    position: relative;
    display: block;
}
.team-photo a::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 224, 0.50);
    visibility: hidden;
    opacity: 0;
}
.team-photo a:hover::after{
    content: "";
    visibility:visible ;
    opacity: 1;

}
/*pricing css*/
.pricing-items{}
.pricing-items h1{
    margin-left: 30px;
    font-size: 35px;
    font-weight: 600;
}
.pricing-items h5{
margin-left: 30px;
font-size: 2opx;
padding: 15px 0;
}
.pricing-items ul{}
.pricing-items ul li{
    list-style: none;
}
.pricing-items ul li a{
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    line-height: 2.6rem;

}
.pricing-items ul li a span{
    padding-right: 15px;
    width: 30px;
}
.pricing-button .btn{
    background: rgb(255, 255, 255);
    color: black;
    font-size: 20px;
display: inline-block;

}
.pricing-button:hover .btn{
    background: blue;
    color: white;
}
.pricing-items:hover .pricing-button .btn{
background: blue;
}
/* testomonial css*/
.textomonial-img-left{
    width: 240px;
}
.textomonial-img-left img{
    float: left;
    border-radius: 50%;
    width: 60px;
    margin-right: 15px;
}
.bio-uder{
    margin-left: 15px;
}
.bio-uder h5{
    font-weight: 700;
}
.bio-uder h6{}
.testomonial-items span{
    margin: 70px 0;
    font-size: 75px;
    color: rgb(228, 225, 216);
}
.testomonial-items p{
    font-size: 25px;
    line-height: 2.6rem;
    margin-bottom: 30px;
}
/* card css*/
.card:hover .btn{
background: rgb(46, 43, 226);
color: white;
}
.card img{
    width: 100px;
    margin-top: -50px;
    margin-left: 15px;
}
.contact-content .form-control{
    box-shadow: 4px 4px 20px 0 rgba(46, 43, 226,.20);
}
.button-content a:hover{
    background: black;
    color: white;
}
.footer-section h4{
}/